# Version 2.0.4

# Ignore Python cache files 
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore common development artifacts
.git
.vscode
*.log
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints

# Ignore Python virtual environment - Essential for efficient build contexts
venv/

# Include essential build files - Ensures successful builds
!Dockerfile
!Pipfile
!Pipfile.lock

# Assuming your source code is in '/app', adjust if necessary
!app/

# Include the notebooks directory - Your core workspace!
!notebooks/        
