[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
azure-quantum = "*"
"azure-quantum[qiskit]" = "*"
amazon-braket-algorithm-library = "*"
amazon-braket-sdk = "*"
arraylias = "*"
black = "*"
bloqade = "*"
dataclasses = "*"
flake8 = "*"
flask = "*"
ipykernel = "*"
ipympl = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
mypy = "*"
notebook = "*"
numpy = "*"
pandas = "*"
PennyLane = "*"
projectq = "*"
pulser-pasqal = "*"
pydantic = "*"
pyEPR-quantum = "*"
pyquil = "*"
pytket = "*"
qiskit = "*"
qiskit-ibm-runtime = "*"
"qiskit[visualization]" = "*"
qsharp = "*"
quantum-viz = "*"
qulacs = "*"
qutip = "*"
referencing = "*"
scikit-learn = "*"
scipy = "*"
strangeworks = "*"
strawberryfields = "*"
sympy = "*"
voila = "*"
requests = "*"

[requires]
python_version = "3.11"
