[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"amazon-braket-algorithm-library" = "*"
"amazon-braket-build-tools" = "*"
"amazon-braket-default-simulator" = "*"
"amazon-braket-schemas" = "*"
amazon-braket-sdk = "*"
arraylias = "*"
bloqade = "*"
bokeh = "*"
dataclasses = "*"
ipykernel = "*"
ipympl = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pasqal-sdk = "*"
plotly = "*"
projectq = "*"
pulser-pasqal = "*"
pydantic = "*"
pyEPR-quantum = "*"
pyquil = "*"
pytket = "*"
qadence = "*"
qiskit = "*"
qiskit-aer = "*"
qiskit-aqua = "*"
qiskit-ibm-provider = "*"
qiskit-machine-learning = "*"
qiskit-nature = "*"
qiskit-optimization = "*"
qiskit-qir = "*"
qiskit-terra = "*"
qulacs = "*"
quantum-viz = "*"
qutip = "*"
referencing = "*"
scipy = "*"
strangeworks = "*"
strawberryfields = "*"
sympy = "*"
voila = "*"

[requires]
python_version = "3.11"

